.container-breadcrumb{
    color: var(--secondary-color);
    .active{
        color: black;
        background: var(--secondary-color);
        transition: all 0.3s ease-in-out;
    }
    .container-list{
        box-shadow: 1px 3px 2px #c9bfbf98;

        li{
            cursor: pointer;
            font-size: var(--size-para);
            padding: .5em ;
            margin: .5em;
            border-radius: .5em;
        }
        width: max-content;
        font-weight: bold;
    }
    .Breadcrumb-item{
        margin-left: 10px;
        
    }
    
}
