@import '../../../shared/themes/styles/_variable.scss';
input,th,td{
    font-weight: normal;
}
thead,tbody,tr,td,th{
    border: none;
}

* {
    box-sizing : border-box; 
}

thead {
    box-shadow: 2px 4px 5px $secondary-color;
}
td,th{
    padding-top: 3%;
}
.container-list{
    display: grid;
    grid-template-rows: 10% 70% 10%;
    grid-template-columns: 97%;
    justify-content: center;
    align-content: space-around;
    height: 90%;
    .search-field {
        justify-self: end;
        margin: 20px;
        input {
            border-radius: 10px;
            outline: none;
            font-size: $size-para;
            padding: .5em;
        }
    }
    nav{
        justify-self: center;   
    }
}