<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ACTION</th>
        <th scope="col">CLIENT</th>
        <th scope="col">MONTANT PRET</th>
        <th scope="col">DATE DU PRET</th>
        <th scope="col">FIN DU CONTRAT</th>
        <th scope="col">MONTANT INTERET</th>
        <th scope="col">POURCENTAGE</th>
        <th scope="col">MODE DE PAIEMENT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of loanList ; let i = index" [ngStyle]="{'display': showList(i,pos)? '':'none'}">
        <th scope="row">1</th>
          <td>{{items.client}}</td>
          <td>{{items.dateDuPret}}</td>
          <td>{{items.finDuContrat}}</td>
          <td>{{items.montantInteret}}</td>
          <td>{{items.montantPret}}</td>
          <td>{{items.pourcentage}}</td>
          <td>{{items.modeDePaiement}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="handleClickButton($event)" [disabled]="pos<1" >Previous</button>
      </li>
      <li class="page-item active"><a class="page-link" (click)="handleClickNumber($event)">1</a></li>
      <li class="page-item ">
        <a class="page-link" (click)="handleClickNumber($event)">2 <span class="sr-only"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">3</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">4</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">5</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">6</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">7</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">8</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">9</a></li>
      <li class="page-item"><a class="page-link" (click)="handleClickNumber($event)">10</a></li>
      <li class="page-item">
        <button class="page-link"  (click)="handleClickButton($event)" [disabled]="pos>8" >Next</button>
      </li>
    </ul>
  </nav>