<div class="container-sidemenu">
    <div class="header">
        <img class="logo-icon" src="../../../assets/icons/4698577_banking_cash_money_payment_wallet_icon.svg" alt="no icon" srcset="" class="open-icon">
        <h1>Bank Init</h1>        
    </div>
    <nav class="sidemenu">
        <!--button (click)="myfunction()">Liste de prêts</button>-->
        <a href="#" (click)="handleclick($event)">Liste de prêts</a>
        <a href="#"(click)="handleclick($event)">Enregistrer un nouveau prêt</a>
        <a href="#"(click)="handleclick($event)">Calendrier de remboursement</a>
        <a href="#"(click)="handleclick($event)">Dashboard</a>

         

    </nav>
</div>    

