@import '../../shared/themes/styles/_variable.scss'; 
.container-sidemenu{
    background: #111;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70%;
    align-content: space-around;
    height: 100%;
    .header{
        display:flex;
        justify-content: center;
        img{
            width: 70px;
            align-self:flex-start;
            margin-right: 5px;
            
        }
        h1{
            font-size: $size-title;
            color: $secondary-color;
            align-self:stretch;
            padding-top: .8em;
        }
    }
    .sidemenu-link{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        a{
            text-align: center;
            color: #fff;
            padding: .6em 0; 
            margin: .5em .5em;
            text-decoration: none;
            border-radius: 20px;
            border: 1px solid $secondary-color;
            &:hover{
                background: $secondary-color;
                transition:0.8s;
                color:#111;
                margin-left:1.5em;
                box-shadow: 0 3px 3px 0 rgb(151, 150, 150);
            }
        }
    }
}
.activeLink{
    background: $secondary-color;
}    